.address-label{
	font-size: 12px;
}

.account-details-container{
	border: 1px solid #CCC;
	padding: 20px 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.account-details-main-address{
	font-family: tahoma;
	font-size: 12px;
}

.account-details-main-address-head{
	border-bottom: 1px solid #CCC;
	padding-bottom: 25px;
}

.account-details-main-address-head-left{
	display: block;
	float: left;
	width: 300px;
}

.account-details-main-address-head-right{
	width: 150px;
	display: block;
	float: right;
	text-align:right;
}

.account-details-main-address-head-content{
	margin-top: 10px;
	border-bottom: 1px solid #CCC;
	padding: 0 10px 10px 10px;
	overflow: hidden;
}

.address-loading-image{
	text-align: center;
}

.account-details-main-address-head-content-img{
	width: 90px;
	float: left;
}

.account-details-main-address-head-content-img img{
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border: 0px;
}

.account-details-main-address-head-content-address{
	width: 200px;
	float: left;
}

.account-details-main-address-head-content-contact{
	width: 200px;
	float: left;
	margin-left: 5px;
}

.account-details-main-address-head-content-edit{
	padding-top: 40px;
	margin-left: 500px;
	position:absolute;
}

.account-details-main-address-head-content-edit img{
	border: 0px;
}

/*---------Connection tab----------*/
.account-details-below{
	margin-top: 10px;
	font-size: 12px;
	font-family: tahoma;
}

.account-details-connection-header{
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #CCC;
}

.account-details-payment-head{
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
}

.account-details-connection{
	margin-top: 10px;
	height: 90px;
}
#account-details-tabs{
	font-family: tahoma;
	font-size: 12px;
}
.account-details-connection-img{
	width: 90px;
	float: left;
}

.account-details-connection-email{
	width: 300px;
	float: left;
}

.account-details-connection-button{
	width: 90px;
	padding:  0 10px;
	float: left;
	text-align: center;
	font-size: 13px !important;
}

.account-details-connection-bottom{
	display: block;
	text-align:left;
}
.account-details-connection-bottom-add{
	margin: 10px 0 10px 390px;
	width: 170px;
	text-align: center;
	font-size: 13px !important;
}
.account-details-connection-bottom-change{
	width: 150px;
	margin: -45px 0 0 390px;
	text-align: center;
}
.account-details-connection-bottom-divide{
	margin-top: 10px;
	border-top: 1px solid #CCC;
	text-align: left;
}

/*-------Payment Tabs---------*/

.account-details-payment-type{
	border-top: 1px solid #CCC;
	margin-top: 10px;
	height: 100px;
	padding-top: 10px;
}

.account-details-payment-img{
	width: 100px;
	float: left;
}

.account-details-payment-contact{
	width: 200px;
	float: left;
}

.account-details-payment-button{
	width: 80px;
	float: left;
	margin-left: 30px;
	text-align:center;
	font-size: 13px !important;
}

.account-details-payment-bottom{
	border-top: 1px solid #CCC;
	padding-top: 10px;
	height: 50px;
}

.new-payment-button{
	margin-left: 370px;
	width: 190px;
}

/*--------Setting tab-----------*/

#account-details-tabs-3{
	margin-top: 5px;
}

.account-details-settings{
	border: 1px solid #CCC;
	display: table-cell;
	width: 100px;
	padding-bottom: 5px;
	background: -moz-linear-gradient(top,  #FFFFFF,  #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
}
.account-details-settings-cell{
	padding-left: 10px;
	height: 30px;
}

.account-details-settings-setting{
	display: table-cell;
	width: 250px;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	background: -moz-linear-gradient(top,  #FFFFFF,  #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
}

.account-details-settings-setting-cell{
	border-top: 1px solid #CCC;
	height: 30px;
	padding-left: 5px;
	line-height: 30px;
}

.account-details-settings-description{
	display: table-cell;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	width:350px;
	background: -moz-linear-gradient(top,  #FFFFFF,  #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
}

.account-details-settings-description-cell{
	padding-left: 5px;
	line-height: 30px;
	border-top: 1px solid #CCC;
	overflow: hidden;
}
.account-details-settings-options-select{
	width:52px;
	margin-top: 7px;
}
.input-check-box{
	margin-top: 10px;
}
/*===================Add, Edit Connection================*/
.add-account-connection,.setting-account-connection{
	margin: 30px 0 0 20px;
}

.add-account-connection-select-provider,.setting-account-connection-select-provider{
	padding-bottom: 20px;
}

#select-login-provider,#setting-select-login-provider{
	width: 210px;
	border-radius: 0;
	border: 1px solid #CCCCCC;
}

.add-account-connection-login-name input#connection-login-name{
	width: 210px;
	border-radius: 0;
	border: 1px solid #CCCCCC;
}
.setting-account-connection-login-name input#setting-connection-login-name{
	width: 210px;
	border-radius: 0;
	border: 1px solid #CCCCCC;
}

.add-account-connection-label{
	display: block;
	float: left;
	width: 150px;
	line-height: 25px;
	text-align:right;
	padding-right: 10px;
	font-weight: bold;
}


.add-account-connection-button,.setting-account-connection-button{
	padding-top: 20px;
}

.add-connection-button{
	text-align: center;
	width: 170px;
	float: right;
	margin-right: 50px;
}

.setting-connection-button{
	text-align: center;
	width: 170px;
	float: right;
}

#connection-setting-delete-button{
	display: block;
	float: left;
}
#connection-setting-edit-button{
	margin-right: 30px;
}
/********add more details*******/
.add-more-login-provider-ContentDiv{
	text-align: center;
}

.add-more-login-provider-imgLogin img{
	width: 160px;
	border: none !important;
}

.earn-money-tabs-1-header{
	height: 50px;
	margin-top: 5px;
	border-bottom: 1px solid #CCC;
}

.earn-money-tabs-1-header-affiliateId{
	float: left;
	line-height: 40px;
	font-size: 15px;
}
#earn-money-tabs-1-header-copy-button{
	float: right;
	text-align: center;
	width: 80px;
	margin: 5px 10px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	font-size: 13px !important;
}

.earn-money-tabs-1-label{
	height: 30px;
	border-bottom: 1px solid #CCC;
	line-height: 35px;
	margin-top: 5px;
	padding-bottom: 5px;
	font-size: 13px;
}

.earn-money-tabs-1-label-icon{
	float: left;
	width: 10%;
	text-align: center;
}

.earn-money-zoom-icon{
	border: 1px solid #CCC;
	padding: 3px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.earn-money-zoom-icon:hover{
	cursor: pointer;
	border-color: #FF9900;
}

.earn-money-tabs-1-label-shopname{
	float:left;
	width: 20%;
}

.earn-money-tabs-1-label-description{
	float: left;
	width: 40%;
}

.earn-money-tabs-1-label-action{
	float: right;
	width: 13%;
	text-align: center;
	margin-right: 10px;
}

.earn-money-action-botton{
	width: 80px;
	height: 30px;
	line-height: 30px;
	margin-left: 30px;
	font-size: 13px !important;
}

.earn-money-tab-1-label-shop{
	border-bottom: 1px solid white;
	margin-bottom: 5px;
	overflow: hidden;
	height: 35px;
}

.earn-money-tabs-1-all-shop{
	border-bottom: 1px solid #CCC;
	text-align: left;
}

.earn-money-tab-1-new-shop{
	height: 80px;
	margin-top: 8px;
	margin-bottom: 10px;
}

.earn-money-tab-1-new-shop-text{
	float: left;
	width: 55%;
	padding-left: 5px;
	font-size: 13px;
	text-align: justify;
}

.earn-money-tab-1-new-shop-button{
	float: right;
	width: 200px;
	text-align: center;
	margin-left: 30px;
	font-size: 13px !important;
	margin-right: 10px;
}

.earn-money-tab-1-new-customer-affiliate{
	width: 300px;
	text-align: center;
	margin: 10px 0 10px 190px;
	font-size: 13px;
}

.earn-money-tabs-2-header{
	font-size: 20px;
	margin-top: 15px;
	padding: 0 0 5px 5px;
	border-bottom: 1px solid #CCC;
}

.earn-money-tabs-2-referal-link{
	padding: 5px;
	font-size: 13px;
	border-bottom: 1px solid #CCC;
}

.earn-money-tabs-2-referal-link-details{
	border: 1px solid #CCC;
	padding: 10px;
	margin: 10px 0 0 30px;
	font-size: 15px;
	font-weight: bold;
}

.earn-money-tab-2-label{
	margin-right: 30px;
}

.earn-money-a:link{
	font-size: 11px;
	text-decoration: underline;
	color: blue;
}

.earn-money-a:hover{
	text-decoration: none;
}

.earn-money-tabs-2-banner{
	display: table;
}

.earn-money-tabs-2-banner-details{
	margin: 10px 10px 10px 20px;
	float: left;
	display: table-cell;
}

.earn-money-tabs-2-banner-img{
	display: block;
	margin-bottom: 10px;
}
.earn-money-tabs-2-banner-referral-link{
	float: left;
	padding: 2px 5px 5px 5px;
	border: 1px solid #CCC;
	font-size: 12px !important;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.earn-money-tabs-2-banner-button{
	float: left;
	width: 70px;
	text-align: center;
	margin: -5px 0 0 10px;
	font-size: 13px !important;
}

.earn-money-tab-3-header{
	border-bottom: 1px solid #CCC;
	display: table;
	margin-bottom: 10px;
	padding-bottom: 10px;
	width: 100%;
}
.earn-money-tab-3-header-left{
	float: left;
	width: 50%;
	display: table-cell;
}

.earn-money-tab-3-header-left-chart{	
	height: 200px;
	width: 100% !important;
}

.earn-money-tab-3-header-right{
	float: right;
	display: table-cell;
	padding-right: 20px;
	width: 45%;
}

.earn-money-tab-3-header-right-info-left{
	float: left;
}

.earn-money-tab-3-header-right-info-right{
	text-align: right;
}

.earn-money-tab-3-header-right-calendar{
	margin-top: 10px;
	padding-left: 5px;
}

.earn-money-calendar{
	width: 100px !important;
	height: 20px !important;
	line-height: 20px !important;
	background-image:url("img/icon/Calendar.png") !important;
	background-repeat:no-repeat !important;
	background-size: contain !important;
	background-position: top right !important;
}
#earn-money-date-from, #earn-money-date-to,#dialog-earn-money-date-from, #dialog-earn-money-date-to{
	border-radius: 0px;
	border: 1px solid #CCC;
	padding: 2px;
}

.earn-money-tab-3-select{
	padding-right: 10px;
}

#dialog-earn-money-tab-3-select-period{
	border: 1px solid #BDC7D8;
    padding: 2px;
}

#earn-money-tab-3-select-period{
	width: 110px;
	border: 1px solid #BDC7D8;
    padding: 2px;
}

.earn-money-refresh-button{
	padding: 3px 20px;
	text-align: center;
	font-size: 13px !important;
}

.dialog-statistic-button-refesh, .dialog-statistic-button-close{
	background: -moz-linear-gradient(center top , #FFFFFF, #F2F0F0) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F2F0F0));
	background: -o-linear-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F2F0F0));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F2F0F0'); /* IE6 & IE7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#F2F0F0')"; /* IE8 */
	border: 1px solid #BBBBBB;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    box-shadow: 0 0 5px #F2F2F2 inset;
    color: #444444;
    font-size: 16px;
	margin-top: 4px;
	padding: 6px 10px;
    text-align: center;
	cursor: pointer;
}

.dialog-statistic-button-refesh:hover, .dialog-statistic-button-close:hover{
	border-color: orange;
}

#earn-money-tabs-3{
padding: 2px !important;
}

.earn-money-tab-3-content-header{
	margin-bottom: 5px;
	height: 40px;
}
.earn-money-tab-3-content-header-select-shop{
	margin-top: 5px;
	float: right;
	margin-right: 12px;
}
#earn-money-select-shop{
	border: 1px solid #BDC7D8;
    padding: 2px;
	width: 100px;
	margin-right: 3px;
}

#earn-money-select-currency{
	border: 1px solid #BDC7D8;
    padding: 2px;
	width: 100px;
}
.earn-money-tab-3-content-header-select-currency{
	margin-top: 5px;
	float: right;
	margin-right: 10px;
}

.earn-money-tab-3-content-header-icon{
	float: right;
	width: 20px;
	margin-right: 30px;
}

.earn-money-tab-3-content-details{
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

.earn-money-tab-3-content-details-container{
	width: 100%;
	display: table;
}

.earn-money-tab-3-content-details-date{
	display: table-cell;
	width: 13%;
	border-top: 1px solid #CCC;
	border-right: 2px solid #CCC;
	overflow: hidden;
}

.earn-money-tab-3-content-details-shop{
	overflow: hidden;
	display: table-cell;
	width: 9%;
	border-top: 1px solid #CCC;
	border-right: 2px solid #CCC;
}

.earn-money-tab-3-content-details-order{
	overflow: hidden;
	display: table-cell;
	width: 13%;
	border-top: 1px solid #CCC;
	border-right: 2px solid #CCC;
	padding-left: 1px;
}

.earn-money-tab-3-content-details-country{
	overflow: hidden;
	display: table-cell;
	width: 10%;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	padding-left: 1px;
}

.earn-money-tab-3-content-details-item{
	overflow: hidden;
	display: table-cell;
	width: 9%;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	padding-left: 1px;
}

.earn-money-tab-3-content-details-price{
	overflow: hidden;
	display: table-cell;
	width: 16%;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	padding-left: 1px;
}

.earn-money-tab-3-content-details-provision{
	overflow: hidden;
	display: table-cell;
	width: 10%;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	padding-left: 1px;
}

.earn-money-tab-3-content-details-status{
	overflow: hidden;
	display: table-cell;
	width: 8%;
	border-top: 1px solid #CCC;
	padding-left: 1px;
}
.earn-money-tab-3-title{
	background: -moz-linear-gradient(top,  #FFFFFF,  #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
}

.earn-money-tabs-4-header{
	font-size: 17px !important;
	padding: 10px;
	border-bottom: 1px solid #CCC;
}

.earn-money-tabs-4-header-balance{
	margin-bottom: 15px;
	margin-top: 10px;
}

.earn-money-tabs-4-label{
	width: 50%;
}

.earn-money-tabs-4-value{
	margin-left: 120px;
	text-align: right;
}

.earn-money-tabs-4-value input{
	width: 70px;
	text-align: center;
	border: 1px solid #CCC;
	margin-left: -30px;
}

.earn-money-tabs-4-value select{
	border: 1px solid #CCC;
	width: 70px;
}

#currency-select-box{
	font-size: 18px !important;
}

.earn-money-tab-4-middle{
	margin-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #CCC;
	height: 80px;
}

.earn-money-tab-4-middle-left{
	float: left;
	width: 50%;
	padding-left: 10px;
}

.earn-money-tab-4-select-box{
	margin-right: 20px;
}

#withdraw-user{
	border: 1px solid #BDC7D8;
    padding: 2px;
}

.withdraw-button{
	padding: 5px 15px;
	font-size: 13px !important;
}

.earm-money-tab-4-payment-history-header{
	margin-left: 10px;
	padding-bottom: 10px;
}

.earm-money-tab-4-payment-history-left{
	float: left;
	width: 70%;
	line-height: 30px;
	font-size: 14px !important;
}

.earm-money-tab-4-payment-history-right{
	text-align: right;
	margin: 5px 10px 0 0;
}

.earn-money-tabs-4-payment-history-details{
	display: table;
	width: 100%;
	border-left: 1px solid #CCC;
}

.earn-money-tabs-4-payment-history-details-date{
	float: left;
	width: 27%;
	padding-left: 2px;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.earn-money-tabs-4-payment-history-details-amount{
	float: left;
	width: 15%;
	padding-left: 2px;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.earn-money-tabs-4-payment-history-details-currency{
	float: left;
	width: 15%;
	padding-left: 2px;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.earn-money-tabs-4-payment-history-details-ip{
	float: left;
	width: 20%;
	padding-left: 2px;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.earn-money-tabs-4-payment-history-details-status{
	float: left;
	width: 20%;
	padding-left: 2px;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.payment-history-details-title{
	background: -moz-linear-gradient(top,  #FFFFFF,  #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	font-weight: bold;
}

#widthrawl-amount{
	height: 23px;
	padding: 2px;
	border-radius: 0px;
	border: 1px solid #CCC;
}

.add-resales-unit-form-header{
	font-size: 13px;
	padding: 10px;
}

.add-resales-unit-form-header-block{
	padding: 5px;
	overflow: hidden;
}

.add-resales-unit-form-label{
	float: left;
	width: 120px;
	font-size: 12px;
	text-align: right;
	margin-right: 10px;
	font-weight: bold;
	line-height: 30px;
}

.add-resales-unit-form-input input{
    border: 1px solid #CCCCCC;
    height: 30px;
    width: 275px;
}

.add-resales-unit-form-data textarea{
    border: 1px solid #CCCCCC;
    width: 275px;
    resize: none;    
}

@media screen and (-webkit-min-device-pixel-ratio:0){
.add-resales-unit-form-input input{
   width: 279px; 
   border: 1px solid #CCCCCC;
   height: 30px; 
}
}

.add-resales-unit-form-button{
	width: 110px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	float: right;
	margin-right: 35px;
}

.edit-shop-name-description-button{
	padding: 3px 15px;
	margin-left: 5px;
	font-size: 13px !important;
}

#affiliate-id{
	float: right;
	padding-left: 10px;
}

.affiliate-id-label{
	float: left;
}

.large-chart-statistic-footer{
	height: 50px;
    margin: 10px;
    width: 100%;
    font-size: 13px !important;	
}
.large-chart-statistic-footer-calendar{
	float: left;
    margin: 10px 20px 0 0;	
}
.large-chart-statistic-footer-divide{
	margin-left: 20px;
}
.large-chart-statistic-footer-selectbox{
    float: left;
    font-size: 19px;
    margin-top: 9px;
    width: 150px;	
}
.large-chart-statistic-footer-button-left{
    float: left;
    margin: 5px 5px 5px 25px;
    width: 80px;
}
.large-chart-statistic-footer-button-right{
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    width: 80px;	
}