/*Crop pictures*/
.dgo-dialog-crop .ui-dialog-content{
	padding: 15px !important;
}

.crop-overlay-layer{
	height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2005;
    display: none;
    cursor: wait;
}

.image-crop-container-border{
	height: 380px;
	width: 380px;
	float: left;
	overflow: hidden;
	border: 5px solid #CCCCCC;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	position: relative;
}

DIV.image-crop-container-border.loading{
	background: url('img/icon/loading.gif') no-repeat center center;
}

.image-crop-container{
	height: 100%;
	width: 100%;
}

.image-crop-loading{
	position: absolute;
	width: 390px;
	height: 390px;
	background: white url('img/icon/loading.gif') no-repeat scroll 50% 50%;
	opacity: 0.5;
	z-index: 1200;
	display: none;
}

.image-crop-cut{
	background: none;
	margin: 0;
    height: 380px;
    width: 380px;
}

.image-crop-bound{
	position: relative;
	width: 380px;
	height: 380px;
	left: 0px;
	top: 0px;
}

.image-crop-cut .ghost-div{
    height: 380px;
	width: 380px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 4;
	cursor: move;
}

.image-drag-div{
	position: absolute;	
}

.image-drag-div:hover{
	cursor: move;
}

.image-crop-cut .mask-div{
   	position: absolute;
	width: 380px;
	height: 380px;
	top: 0;
	left: 0;
	z-index: 3;
}

.image-crop-dpi-warning{
	position: absolute;
	width: 48px;
	height: 48px;
	z-index: 2005;
	right: 0;
	background: url('img/icon/warning.png') no-repeat scroll 50% 50%;
	display: none;
	top: 20px;
}

.image-crop-dpi-warning-message{
	position: absolute;
	min-height: 17px;
	z-index: 2001;
	display: block;
	top: 0;
	left: 0;
	text-align: center;
	color: white;
	line-height: 16px;
	font-size: 15px;
	width: 100%;
	font-weight: bold;
	opacity: 0.8;
	background: gray;
	padding: 5px 0;
}

.image-crop-left-top{
	position: absolute;
	background: gray;
	z-index: 3;
	opacity: 0.8;
}

.image-crop-right-bottom{
	position: absolute;
	background: gray;
	z-index: 3;
	opacity: 0.8;
}

.crop-zoom-icon-div{
	width: 32px;
	height: 300px;
	float: left;
	margin-left: 10px;
}

.crop-zoom-icon{
	border: 1px solid white;
	height: 36px;
	width: 36px;
	background: url('img/icon/preview.png') no-repeat scroll 50% 50%;
	-moz-border-radius: 5px; 
    border-radius: 5px; 
    -webkit-border-radius: 5px;
}

.crop-zoom-icon:hover{
	border: 1px solid #CCCCCC;
	cursor: pointer;
}

.image-crop-tools{
	border: 1px solid #CCCCCC;
	height: 330px;
	width: 150px;
	float: right;
	-moz-border-radius: 10px; 
    border-radius: 10px; 
    -webkit-border-radius: 10px;
}

.crop-quality-div{
	border-bottom: 1px solid #CCCCCC;
	height: 60px;
}

.crop-quality-label{
	height: 25px;
	line-height: 25px;
	text-align: center;
}

.crop-quality-star{
	padding: 0px 15px;
}

.crop-quality-star-bad{
	opacity: 0.3;
}

.quality-star{
	width: 22px;
	height: 22px;
	float: left;
	background: url('img/icon/gray_star.png') no-repeat scroll 50% 50%;
}

.quality-star-gold{
	background: url('img/icon/gold_star.png') no-repeat scroll 50% 50%;
}

.crop-slider-div{
	border-bottom: 1px solid #CCCCCC;
	height: 60px;
}

.crop-slider-title{
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.crop-slider-cover{
	margin-top: 7px;
}

#crop-zoom-slider{
	border: 1px solid #BBBBBB !important;
	width: 120px;
	margin-left: 14px;
	height: 5px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
}

#crop-zoom-slider .ui-slider-handle{
	top: -0.42em;
	background: url('img/icon/slider_handles.png') no-repeat scroll -4px -27px;
	border-style: none;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}

#crop-zoom-process{
    background-color: #BBBBBB;
    height: 5px;
    margin-left: 15.5px;
    position: relative;
    top: -6px;
    width: 0px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
}

.crop-rotate-div{
	border-bottom: 1px solid #CCCCCC;
	height: 120px;
	text-align: center;
}

.crop-rotate-direct-selected{
	border-color: #3ba3d0 !important;
}

.crop-rotate-control{
	margin-top: 20px;
}

.crop-rotate-top{
	border: 1px solid #CCCCCC;
	width: 32px;
	height: 32px;
	margin-left: 60px;
	background: url('img/icon/rotate_0.png') no-repeat scroll 50% 50%;
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.6);
	cursor: pointer;
}


.crop-rotate-left{
	border: 1px solid #CCCCCC;
	width: 32px;
	height: 32px;
	float: left;
	margin-left: 26px;
	background: url('img/icon/rotate_270.png') no-repeat scroll 50% 50%;
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.6);
	cursor: pointer;
}


.crop-rotate-center{
	width: 32px;
	height: 32px;
	float: left;
	line-height: 16px;
	cursor: default;
	margin: 1px;
}

.crop-rotate-center input{
	border: none;
	width: 20px;
	text-align: center;
	font-size: 10px !important;
}

.crop-rotate-right{
	border: 1px solid #CCCCCC;
	width: 32px;
	height: 32px;
	float: left;
	background: url('img/icon/rotate_90.png') no-repeat scroll 50% 50%;
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.6);
	cursor: pointer;
}


.crop-rotate-bottom{
	border: 1px solid #CCCCCC;
	width: 32px;
	height: 32px;
	margin-left: 60px;
	clear: both;
	background: url('img/icon/rotate_180.png') no-repeat scroll 50% 50%;
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.6);
	cursor: pointer;
}


.crop-rotate-title{
	height: 28px;
	line-height: 30px;
	text-align: center;
}

.crop-rotate-direct{
	-moz-border-radius: 5px; 
    border-radius: 5px; 
    -webkit-border-radius: 5px;
}

.crop-rotate-direct:hover{
	border-color: #3ba3d0;
}

#masks-list{
	border: 1px solid #BDC7D8;
    float: right;
    height: 25px;
    line-height: 25px;
    width: 139px;
    background: url('img/icon/down_narrow.png') no-repeat scroll 99% 50%;
    position: relative;
    margin-right: 4px;
}

#masks-list:hover{
	cursor: default;
}

#masks-list #mask-user-chosen{
	width: 23px;
	height: 23px;
	float: left;
	margin: 1px 3px 0 1px;
}

#masks-list .mask-name{
	height: 25px;
    overflow: hidden;
    width: 92px;
}

#masks-dropdown{
	border: 1px solid #CCCCCC;
	border-bottom: none;
	left: -62px;
	position: absolute;
	max-height: 176px;
	z-index: 3;
	background: white;
	width: 200px;
	overflow: auto;
	display: none;
}

#masks-dropdown div{
	border-bottom: 1px solid #CCCCCC;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
}

#masks-dropdown div:hover{
	background: #BBBBBB;
	color: white;
}

.mask-selected{
	background: #BBBBBB;
	color: white;
}

#masks-dropdown img{
	float: left;
    height: 22px;
    margin: 3px 7px 3px 3px;
}

.crop-orientation-div{
	height: 65px;
}

.crop-orientation-title{
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.orientation-landscape{
	border: 1px solid #CCCCCC;
	width: 30px;
	height: 20px;
	float: left;
	margin-left: 40px;
	margin-top: 10px;
	background: url('img/icon/orientation_lock.png') no-repeat scroll 50% 50%;
	-moz-border-radius: 5px; 
    border-radius: 5px; 
    -webkit-border-radius: 5px;
}


.orientation-portrait{
	border: 1px solid #CCCCCC;
	width: 20px;
	height: 30px;
	float: left;
	margin-left: 10px;
	background: url('img/icon/orientation_antilock.png') no-repeat scroll 50% 50%;
	-moz-border-radius: 5px; 
    border-radius: 5px; 
    -webkit-border-radius: 5px;
}

.orientation-format:hover{
	border-color: #3ba3d0;
}

.image-options-div{
	clear: both;
	border-bottom: 1px solid #CCCCCC;
	height: 30px;
	margin-bottom: 15px;
}

.image-options{
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.image-options-reset{
	margin-left: 90px;
}

.image-options-add{
	margin-left: 75px;
}

.image-crop-footer{
	clear: both;
}

.image-crop-slider{
	border: 1px solid #CCCCCC;
	width: 390px;
	height: 60px;
	float: left;
	-moz-border-radius: 5px; 
    border-radius: 5px; 
    -webkit-border-radius: 5px;
}

.image-crop-slider-prev{
	background: url("img/icon/prev.png") no-repeat scroll 50% 50% transparent;
    float: left;
    height: 60px;
    opacity: 0.5;
    width: 25px;
}

.image-crop-slider-center{
    float: left;
    overflow: hidden;
    width: 340px;
    height: 60px;
    position: relative;
}

.image-crop-slider-center-m{
	width: 320px;
}

.image-crop-slider-content {
    position: absolute;
    top: 0;
    left: 0;
}

.crop-picture-li{
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    position: relative;
    width: 57px;
}

.crop-picture-border{
    display: table-cell;
    height: 50px;
    opacity: 0.3;
    text-align: center;
    vertical-align: middle;
}

.crop-picture-border .picture_portrait{
	height: 46px;
	border: 1px solid #CCCCCC !important;
	padding: 1px;
}

.crop-picture-border .picture_landscape{
	width: 46px;
	border: 1px solid #CCCCCC !important;
	padding: 1px;
}

.crop-picture-border .handle_tick{
	position: absolute;
	right: 0;
	bottom: 0;
	display: none;
}

.crop-picture-border .amount{
	display: none;
}

.crop-picture-border:hover{
	cursor: pointer;
}

.crop-picture-border-selected{
	opacity: 1;
}

.crop-picture-border .article_picture_landscape{
    border: 3px solid #CCCCCC;
    width: 45px;
    height: auto !important;
}

.crop-picture-border .article_picture_portrait{
    border: 3px solid #CCCCCC;
    height: 45px;
}

.crop-picture-border-selected img{
	border-color: gray !important;
}

.image-crop-slider-next{
	background: url("img/icon/next.png") no-repeat scroll 50% 50% transparent;
    float: right;
    height: 60px;
    opacity: 0.5;
    width: 25px;
}

.image-crop-slider-next:hover, .image-crop-slider-prev:hover{
	cursor: pointer;
	background-color: #CCCCCC;
	opacity: 0.8;
}

.image-crop-next-button{
	height: 36px;
	line-height: 36px;
	float: right;
	width: 150px;
	margin-top: 23px;
}

.crop-button{
	height: 36px;
	line-height: 36px;
	float: right;
	width: 150px;
	margin-top: 20px;
	text-align: center;
}

/*Preview picture cropped*/
#preview-crop-form{
	text-align: center;
	padding: 15px !important;
}

.preview-image-portrait{
	height: 350px;
}

.preview-image-landscape{
	width: 450px;
}