/*Order confirmation CSS*/
.order-confirm-title{
	height: 50px;
	font-size: 24px;
}


.order-confirm-tks{
	height: 40px;
	margin-top: 10px;
	float: left;
}

.order-logo-print{
	border: 1px solid #CCCCCC;
	float: right;
	width: 42px;
	height: 42px;
	margin-right: 10px;
	background: url('img/icon/print.png') no-repeat scroll 50% 50%;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.order-logo-print:hover{
	cursor: pointer;
	border-color: #888888;
}

.order-confirm-content{
	border: 1px solid #CCCCCC;
	height: auto;
	margin-top: 10px;
	font-family: "Arial",Georgia,Serif;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 12px !important;
}

.confirm-content-title{
	border-bottom: 1px solid #CCC;
	height: 40px;
	line-height: 40px;
	white-space: nowrap;
}

.confirm-content-title span{
	margin-left: 7px;
}

.confirm-order-detail{
	border-bottom: 1px solid #CCCCCC;
	height: 100px;
	margin: 10px 10px 0px;
}

.confirm-order-shipping{
	width: 55%;
	height: 100px;
	float: left;
}

.order-shipping-title{
	height: 100px;
	float: left;
	width: 115px;
	line-height: 15px;
}

.order-shipping-detail div:first-child{
	line-height: 15px;
}

.confirm-order-payment{
	float: left;
	width: 44%
}

.order-payment-detail{
	height: 25px;
	line-height: 15px;
	clear: both;
	margin-bottom: 5px;
}

.order-payment-title{
	float: left;
	width: 75px;
}

.order-payment-icon{
	float: left;
	width: 32px;
	height: 32px;
	margin: -5px 5px 0 0;
}
.payment-BasePrice{
	background: url('img/imgPayment/house.png') no-repeat scroll 50% 50%;
}

.payment-VNPOST{
	background: url('img/imgPayment/VNPOST.png') no-repeat scroll 50% 50%;
}

.payment-VNPT{
	background: url('img/imgPayment/VNPT.png') no-repeat scroll 50% 50%;
}

.payment-TTC{
	background: url('img/imgPayment/TTC.png') no-repeat scroll 50% 50%;
}

.payment-DHL{
	background: url('img/imgPayment/DHL.png') no-repeat scroll 50% 50%;
}

.payment-UPS{
	background: url('img/imgPayment/UPS.png') no-repeat scroll 50% 50%;
}
.payment-COD{
	background: url('img/imgPayment/COD.png') no-repeat scroll 50% 50%;
}
.order-shipment-icon{
	float: left;
	width: 32px;
	height: 32px;
	margin: -5px 5px 0 0;
	
}

.shipment-None{
	background: url('img/imgPayment/house.png') no-repeat scroll 50% 50%;
}

.shipment-BasePrice{
	background: url('img/imgPayment/house.png') no-repeat scroll 50% 50%;
}

.shipment-VNPOST{
	background: url('img/imgPayment/VNPOST.png') no-repeat scroll 50% 50%;
}

.shipment-VNPT{
	background: url('img/imgPayment/VNPT.png') no-repeat scroll 50% 50%;
}

.shipment-TTC{
	background: url('img/imgPayment/TTC.png') no-repeat scroll 50% 50%;
}

.shipment-DHL{
	background: url('img/imgPayment/DHL.png') no-repeat scroll 50% 50%;
}

.shipment-UPS{
	background: url('img/imgPayment/UPS.png') no-repeat scroll 50% 50%;
}

.confirm-order-elements{
	padding: 10px 10px;
}

.order-number{
	clear: both;
	height: 20px;
}

.order-element-title{
	height: 25px;
	line-height: 25px;
	clear: both;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}

.order-element-title div{
	float: left;
	border: 1px solid #CCCCCC;
	text-align: center;
	background: #DDDDDD;
}

.order-position{
	width: 18%; 
	-moz-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
	-webkit-border-top-left-radius: 5px;
}
.order-description{width: 45%;}
.order-amount{width: 15.5%;}
.order-price{width: 20%;border-radius: 0 5px 0 0; }
.order-action{
	width: 15%;
	-moz-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
	-webkit-border-top-right-radius: 5px;
	display: none;
}

.order-element-content{
	height: 100px;
	margin-bottom: 20px;
	clear: both;
	background: -moz-linear-gradient(top,  #FFFFFF,  #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
}
.order-element-content div{
	border: 1px solid #CCCCCC;
	float: left;
	height: 80px;
	border-top: none;
	text-align: center;
	padding: 10px 0px;
	position: relative;
}

.order-element-content-all{
	height: 90px;
}

.order-element-content-all div{
	height: 70px;
}

.order-position-content{width: 18%;}
.order-description-content{width: 45%; text-align: left !important;}
order-description-content-font {
	font-size: 10px;
}
.order-description-content div{ border-style: none; text-align: left; padding: 0; margin-left: 5px;}
.order-amount-content{width: 15.5%;}
.order-price-content{width: 20%;}
.order-action-content{width: 15%;display: none}

.order-position-image{
	width: 75px;
	border-top: 1px solid #CCCCCC !important;
    height: 75px !important;
    margin: 0 10px;
    padding: 0 !important;
    overflow: hidden;
}

.order-position-image img{
    margin-top: 1px;
}

.order-action-button{
	width: 50px;
	height: 30px !important;
	line-height: 30px !important;
	width: 80% !important;
	padding: 0 !important;
	margin: 3px 10%;
	font-size: 13px;
	border: 1px solid #CCC !important;
}

.confirm-order-footer{
	height: 80px;
	padding-top: 20px;
	margin-bottom: 20px;
}

.order-footer-left{
	margin-left: 10px;
	float: left;
	font-family: Tahoma;
}

.payment-access-baokim{
	width: 151px;
	height: 40px;
	float: left;
	clear: both;
	margin-top: 5px;
	background: url('img/imgCheckOut/baokim.png') no-repeat scroll 50% 50%;
	cursor: pointer;
}

.payment-access-nganluong{
	width: 151px;
	height: 40px;
	float: left;
	clear: both;
	margin-top: 5px;
	background: url('img/imgCheckOut/nganluong.png') no-repeat scroll 50% 50%;
	cursor: pointer;
}

.all-order-header{
	padding-bottom: 30px;
}

.all-order-header-left{
	float: left;
	line-height: 28px;
}

.all-order-header-right{
	display: block;
	float: right;
	width: 400px;
}

.all-order-header-right-all-details{
	float: left;
	padding-left: 40px;
	line-height: 28px;
}

.all-order-header-right-filter{
	float: right;
}

.all-order-button{
	border: 1px solid #CCC;
	padding: 3px;
	margin: 6px 0 0 0;
}

.all-order-button:hover{
	cursor: pointer;
	border: 1px solid #FFA500;
}
.order-position-image-original{
	display:none;
	position:relative;
	z-index: 1000;
}
.order-position-image-original img{
	width: 400px;
	height: 300px;
}

.cia-payment{
	font-family: arial;
	overflow: hidden;
	border: 1px solid #CCC;
	margin-top: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 13px !important;
	display: none !important;
}

.cia-payment-content{
	float: left;
	width: 60%;
}

.cia-payment-content ul{
	list-style-type: none;
}

.cia-payment-img{
	margin: 15px 10px 0 20px;
	float: left;
	width: 30%;
	height: 73px;
	background: url('img/imgPayment/vietcombank-logo.jpg') no-repeat;
}

.cia-payment-img-acb{
	margin: 0 10px 10px 20px;
	float: left;
	width: 30%;
	height: 129px;
	background: url('img/imgPayment/logo-acb.jpg') no-repeat;	
}

.cia-payment-divide{
	border-top: 1px solid #CCC;
	width: 100%;
	height: 10px;
	float:left;
}

.order-show-all-price-wapper{
	height: 120px;
}

.order-show-all-price{
	margin-top: -20px;
	overflow: hidden;
	width: 82%;
	float: right;
}

.order-show-all-price-contain{
	float: left;
	width: 100%;
	height: 30px;
	border-bottom: 1px dotted #CCC;
}

.order-show-all-price-label{
	width: 60%;
	float: left;
	line-height: 30px;
	padding-left: 15px;    
}

.order-show-all-price-value{
	float: right;
	width: 34%;
	text-align: right;
	line-height: 30px;
	margin-right: 10px;
	overflow: hidden;
}

/*****Top product sales*****/
.best-product{
	border-radius: 5px;
	border: 1px solid #CCC;
    margin-bottom: 30px;
}

.best-product-title{
	background: url("img/nav-relate-pro.png") repeat-x;
	height: 40px;
	text-shadow: 0.05em 0.05em 0.03em white;
	font-size: 15px;
	line-height: 40px;
	padding-left: 10px;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	color: #36619F;
	
}

.best-product-container{
	margin: 5px 0 10px 5px;
	overflow: hidden;	
	position: relative;
	height: 160px;
}

.best-product-container-nonslide{
	margin-top: 5px;
	overflow: hidden;
	margin-left: 5px; 
}

.best-product-container-best-seller{
	width: 1287px;
	height: 150px;
	position: absolute;
}

.best-product-element{
	width: 20%;
	float: left;
	margin: 10px 14px 10px 14px;
}

.best-product-element-best-seller{
	width: 115px;
	float: left;
	margin: 10px 14px 10px 14px;
}

.best-product-element:hover{
	text-decoration: underline;	
}

.best-product-img-over{
	display: none;
	margin-top: -10px;
	margin-left: -10px;
    width: 10%;
    height: 145px;
    position: absolute;
    padding: 4px;
	border: 1px solid orange;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	background: -moz-linear-gradient(top,  #FFFFFF,  #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	background: -o-linear-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EFEFEF'); /* IE6 & IE7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#EFEF')"; /* IE8 */
}

.best-product-img-over-nonslide{
	display: none;
	margin-top: -10px;
	margin-left: -10px;
    width: 13%;
    height: 145px;
    position: absolute;
    padding: 4px;
	border: 1px solid orange;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	background: -moz-linear-gradient(top,  #FFFFFF,  #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	background: -o-linear-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EFEFEF'); /* IE6 & IE7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#EFEF')"; /* IE8 */
}

.best-product-img{
	padding: 4px;
	border: 1px solid #CCC;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	background: -moz-linear-gradient(top,  #FFFFFF,  #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	background: -o-linear-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EFEFEF'); /* IE6 & IE7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#EFEFEF')"; /* IE8 */
}

.best-product-img:hover{
	border-color: orange;
	cursor: pointer;
}

.best-product-img img{
	width: 100%;
	text-align: center;
}

.best-product-img-over img{
    width: 100%;
    text-align: center;
}

.best-product-img-over-nonslide img{
	width: 100%;
    text-align: center;
}


.best-product-shadow{
	background: url("img/icon/logo_fbox_shadow.png") no-repeat scroll 50% 50% transparent;
	height: 10px;
	width: 90%;
	margin: 0 auto;
}

.best-product-name{
	text-align: center;
	color: #36619F;
}

#slider-wrap{
	width: 95%;
	margin: 0 0 10px 15px;
}

#slider-wrap a{
	background: url('img/icon/slide_button.png') no-repeat top left;
	border: 0px;
}

#slider-wrap .ui-slider-handle{
	width: 22px;
	height: 22px;	
	margin-top: -4px;
	margin-left: -12px;
}

.best-product .ui-slider-horizontal{
	height: .7em;
	margin-top: 5px;
	border: 1px solid #a9c4d7;	
	background: -moz-linear-gradient(top,  #FFFFFF,  #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	background: -o-linear-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EFEFEF'); /* IE6 & IE7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#EFEFEF')"; /* IE8 */
}
.test_img_name{
	position: absolute !important;
}	

/* css for article Thumbs*/

.Cup_A_DYN_CUP_WHITE img{
	margin-left: -14px;
    margin-top: 22px !important;
}
.A_DYN_MPAD img{
	margin-top: 10px;
}
.VN_PLOT.A_DYN_POS_VN img{
	width:35px !important;
	margin-left: -2px;
}
.A_DYN_MPAD img{
	margin-top:20px;
}
.A_DYN_FRIDGE_MAGNET img{
    height: 20px !important;
    margin-left: 33px;
    margin-top: 37px;
    width: 20px !important;
}
.A_DYN_KNEELING_MAT img{
	margin-top: 20px;
}

/* css for mask*/
.img-mask-confirm{
    border: medium none !important;
    height: 80px !important;
    position: absolute !important;
    top: -8px !important;
    width: 80px !important;
}
.img-mask-confirm img{
    height: 75px;
    margin-top: -1px;
    width: 75px;
}
.A_DYN_CUP{
	position: absolute;
	left: 0px;
}
.A_DYN_BUTTON{
	left: 0px;
}
.VN_STK_A_DYN_POS_VN_STICK_OUTDOOR_TRANS_LAM{
	position: absolute;
	left: 0px;
	top:9px !important;
}
.VN_STK_A_DYN_VN_PP_INDOOR_GLUE{
	position: absolute;
	left: 0px;
	top:10px;
}
