.shopping-cart-container{
	font-family: "Arial",Georgia,Serif;
}

.cartTable{
    width: 100%;
    height: auto;
}

.cartArticle{
    clear: both;
    width: 100%;
    height: 65px;
    border: 1px solid #CCCCCC;
    padding-top: 5px;
	background: -moz-linear-gradient(top,  #FFFFFF,  #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
}

.cartArticle:first-child div{
    height: 21px;
}

.cartArticleTitle{
    clear: both;
    width: 100%;
    height: 25px;
    border: 1px solid #CCCCCC;
    padding-top: 5px;
    border-bottom: none;
    background: -moz-linear-gradient(top,  #FFFFFF,  #F6F6F6);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F6F6F6));
	background: -o-linear-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F6F6F6));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F6F6F6'); /* IE6 & IE7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#F6F6F6')"; /* IE8 */
}

.cartArticleTitle div{
    float: left;
    font-size: 13px !important;
    height: auto;
    padding-bottom: 5px;
    text-align: center;
}
.drop-icon{
	position: absolute;
	right:2px;
	background: url('img/icon/down_narrow.png') no-repeat scroll;
	width:17px !important;
	height:16px !important;
	top:2px;
}

.drop-icon:hover{
	cursor: pointer;
	outline: none !important;
}
.cartArticleTitle div:nth-child(1){
    width: 8%;   
}

.cartArticleTitle div:nth-child(2){
    width: 54%;
}

.cartArticleTitle div:nth-child(3){
    width: 10%;   
}

.cartArticleTitle div:nth-child(4){
    width: 10%;  
}

.cartArticleTitle div:nth-child(5){
    float: right;
    width: 18%;   
}

.cartArticle div{
    float: left;
    text-align: center;
    height: auto;
    padding-bottom: 5px;
    font-size: 12px;
}

.cartArticle .posDiv .motifDiv{
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
}

.posDiv .motifDiv select{
    width: 45px;
    margin-left: 5px;
}

.cartArticle div:nth-child(1){
    width: 8%;   
}

.cartArticle div:nth-child(2){
    height: 60px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 54%;
}

.descriptionDiv-des{
    height: 15px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100% !important;
}

.cartArticle div:nth-child(2) select{
    width: 170px;
    border: 1px solid #BDC7D8;
    padding: 2px;
}

.cartArticle div:nth-child(3){
    width: 10%;   
}

.cartArticle div:nth-child(3) select{
    width: 90%;  
    border: 1px solid #BDC7D8;
    padding: 2px; 
}


.cartArticle div:nth-child(4){
    width: 8%;  
    background: url('img/icon/delete.png') no-repeat scroll 50% 20%;
    cursor: pointer;
    padding-top: 16px;
}

.cartArticle div:nth-child(5){
    float: right;
    width: 18%;   
	text-align: right;
}

.priceDiv span{
	margin-right: 15px;
	float: right;
}

img.article_picture_landscape{
	width: 100%;
}

img.article_picture_portrait{
    height: 100%;
}

.shop-article-pictures{
	border: 1px solid #CCCCCC;
	overflow: hidden;
	margin-bottom: 5px;
	width: 100%;
	border-top: none;
}

.shop-article-pictures-in{
	padding: 0px 10px;
}

.article-picture-li{	
	margin-right: 10px;
	float: left;
    list-style-type: none;
    padding: 0 !important;
    position: relative;
    height: 75px;
    margin: 5px 10px 8px 0;
}
.article-picture-border{
	width: 75px;
	height: 75px;
	display: table-cell;
	vertical-align: bottom;
	text-align: center;
	position: relative;
}

.article-picture-border .img_background{
	position: absolute;
	left: 0;
	top: 0;
	width: 75px;
	height: 75px;
}

.article-picture-border .articleThumbwrapper{
	position: absolute;
	left: 0;
	top: 0;
	width: 75px;
	height: 75px;
	overflow: hidden;
	z-index: 1;
}

.article-picture-border .img_mask{
	position: absolute;
	left: 0;
	top: 0;
	width: 75px;
	height: 75px;
	z-index: 2;
}

.img_div_tools{
	position: absolute;
	top: 62px;
	width: 100%;
	display: none;
	height: 16px;
	z-index: 3;
}

.shop_img_delete{
	border: 1px solid #BBBBBB;
	width: 16px;
	height: 16px;
	background: url('img/icon/img_delete.png') no-repeat scroll 50% 50%;
	-moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
	float: left;
	margin-left: 3px;
}

.shop_img_edit{
	border: 1px solid #BBBBBB;
	width: 16px;
	height: 16px;
	background: url('img/icon/img_edit.png') no-repeat scroll 50% 50%;
	-moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
	float: right;
	margin-right: 3px;
}

/*Shopping Cart*/
.headerShoppingDiv .changingShoppingDiv{
    float: left;
}

.changingShoppingDiv select{
    width: 60px;
    height: 20px;
    margin-top: 20px;
}

.upShoppingDiv{
    width: 100%;
    height: 42px;
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}

.upShoppingDiv .order{
    cursor: pointer;
    float: right;
    padding: 0px 30px;
    font-size: 16px;    
}
.upShoppingDiv .order-confirm-block{
	width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: none;
    cursor: wait;
}

.paymentDiv{
	border: 1px solid #CCCCCC;
    clear: both;
    font-size: 13px !important;
    height: auto;
    margin-bottom: 15px;
    width: 100%;
    padding-top: 15px;
	background: -moz-linear-gradient(top,  #FFFFFF,  #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	background: -o-linear-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EFEFEF'); /* IE6 & IE7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#EFEFEF');
}

.option-element-container{
	clear: both;
	height: 40px;
	padding: 0px 13px;
}

.option-element-title{
	float: left;
	width: 35%;
	height: 20px;
	text-align: left;
	line-height: 25px;
	margin-right: 5px;
}

.payment-div{
    border: 1px solid #BDC7D8;
    width: 48%;
	float: left;
    height: 22px;
    line-height: 22px;
}

.payment-div:hover{
    cursor: default;
    border-color: #3B5998;
}

.payment-div div:first-child{
    margin-left: 5px;
    float: left;
}

.payment-div div:last-child{
    float: right;
    background: url('img/icon/down_arrow.png') no-repeat scroll 50% 50%;
    border: 1px solid #888888;
    height: 14px;
    margin: 2px 3px 2px 2px;
    padding: 1px;
    width: 14px;
}

.priceDiv span img{
	padding-right: 30px;
}
	

.option-element-result{
	float: right;
	width: 14%;
	height: 20px;
	text-align: right;
	margin-right: 5px;
	line-height: 24px;
}

.sumDiv{
	width: 100%;
    border: 1px solid #CCC;
	height: 30px;
	line-height: 32px;
	background: -moz-linear-gradient(top,  #FFFFFF,  #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	font-size: 13px !important;
}

.customerDiv{
	float: left;
	margin-left: 5px;
	margin-right: 10px;
}

.customerDiv input{
	margin-right: 4px !important;
	float: left;
	margin-top: 9px;
}

.cal-sum-name{
    float: left;
    height: 25px;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 45%;  
}

.cal-sum-value{
    float: right;
    text-align: center;
    color: #ff7100;
	margin-right: 15px;
}

.cal-sum-value img{
	padding: 6px 30px 0 0;	
	border: none !important;
}

#shipping-price img, #payment-price img{
	padding-right: 30px;	
}

.headerShoppingDiv{
	clear: both;
	width: 100%;
	border: 2px solid transparent;
}

.footerShoppingDiv{
	clear: both;
	margin-top: 20px;
	width: 100%;
	border: 2px solid transparent;
}

.continueShoppingDiv{
    float: left;
    margin-right: 20px;
}

.couponShoppingDiv{
    float: left;
    margin-right: 100px;
}

.payment-access-amazon{
	width: 144px;
	height: 34px;
	float: right;
	clear: both;
	margin-top: 20px;
	background: url('img/imgCheckOut/amazon.png') no-repeat scroll 50% 50%;
	cursor: pointer;
}

.payment-access-paypal{
	width: 151px;
	height: 47px;
	float: right;
	clear: both;
	margin-top: 20px;
	background: url('img/imgCheckOut/paypal.png') no-repeat scroll 50% 50%;
	cursor: pointer;
}


/*Shipping dialog*/
.ship-form-container{
	padding: 15px;
	font-size: 13px !important;
}

.ship-form-content{
    height: auto;
	margin-bottom: 20px;
}

.ship-form-type{
    height: 32px;
    padding: 0px 5px;
    line-height: 30px;
    margin-bottom: 5px;
    cursor: default;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
	background: -moz-linear-gradient(top, #FFFFFF, #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
}

.ship-form-type:hover{
	border-color: orange;
}

.ship-form-type-selected{
	background: -moz-linear-gradient(top,  #FFFFFF,  #F6F6F6);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F6F6F6));
	background: -o-linear-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F6F6F6));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F6F6F6'); /* IE6 & IE7*/
	border-color:orange !important;
}

.ship-method-name{
	float: left;
}

.ship-method-price{
	float: right;
}

.ship-form-none{
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 10px;
    background: url('img/imgPayment/house.png') no-repeat scroll 50% 50%;    
}

.ship-form-ttc{
	background: url("img/imgPayment/TTC.png") no-repeat scroll 50% 50% transparent;
    float: left;
    height: 32px;
    margin-right: 10px;
    width: 32px;
}
.ship-form-vnpt{
	background: url("img/imgPayment/VNPT.png") no-repeat scroll 50% 50% transparent;
    float: left;
    height: 32px;
    margin-right: 10px;
    width: 32px;
}
.ship-form-vnpost{
	background: url("img/imgPayment/VNP.png") no-repeat scroll 50% 50% transparent;
    float: left;
    height: 32px;
    margin-right: 10px;
    width: 32px;
}
.ship-form-dhl{
	background: url("img/imgPayment/DHL.png") no-repeat scroll 50% 50% transparent;
    float: left;
    height: 32px;
    margin-right: 10px;
    width: 32px;
}
.ship-form-ups{
	background: url("img/imgPayment/UPS.png") no-repeat scroll 50% 50% transparent;
    float: left;
    height: 32px;
    margin-right: 10px;
    width: 32px;
}

.ship-form-footer{
    height: 30px;
	line-height: 30px;
	display: none;
}

.ship-form-country{
    height: 20px;
    border-top: 1px solid #ccc;
    padding: 15px 0px; 
}

.left-ship-country{
    float: left;
	text-align: right;
	width: 170px;
	line-height: 22px;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
.left-ship-country{
    float: left;
	text-align: right;
	width: 170px;
	line-height: 30px;
}
}
.right-ship-country{
    float: right;
    margin-left: 10px;
}

.right-ship-country select{
    width: 180px;
    outline: none !important;
    padding: 2px;
	border: 1px solid #CCC;	
	
}

.left-ship-state{
    float: left;
	width: 170px;
	text-align: right;
}

.right-ship-state{
    float: right;
    margin-left: 10px;
}

.right-ship-state select{
    width: 180px;
    padding: 2px;
    border: 1px solid #CCC;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*Payment method dialog*/
.payment-form-container{
	padding: 15px;
	font-size: 13px !important;
}

.payment-form-content{
	margin-bottom: 20px;
}

.payment-method{
    clear: both;
    line-height: 30px;
    cursor: default;
    height: 32px;
    border: 1px solid #ffffff;
    padding: 0px 5px;
	margin-bottom: 5px;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
	background: -moz-linear-gradient(top, #FFFFFF, #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
}

.payment-method:hover{
	border-color: orange;
}

.payment-method-selected{
	background: -moz-linear-gradient(top,  #FFFFFF,  #F6F6F6);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F6F6F6));
	background: -o-linear-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F6F6F6));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F6F6F6'); /* IE6 & IE7*/
	border-color:orange !important;
}

.payment-image{
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 10px;
}

.payment-CIA{background: url('img/imgPayment/cash.png') no-repeat scroll 50% 50%;}
.payment-COD{background: url('img/imgPayment/COD.png') no-repeat scroll 50% 50%;}
.payment-DebitBalance{background: url('img/imgPayment/debit.png') no-repeat scroll 50% 50%;}
.payment-Invoice{background: url('img/imgPayment/invoice.png') no-repeat scroll 50% 50%;}
.payment-PayPal{background: url('img/imgPayment/paypal.png') no-repeat scroll 50% 50%;}
.payment-BaoKim{background: url('img/imgPayment/BaoKim.png') no-repeat scroll 50% 50%;}
.payment-BaoKimSafe{background: url('img/imgPayment/BaoKim.png') no-repeat scroll 50% 50%;}
.payment-BaoKimInstant{background: url('img/imgPayment/BaoKimInstant.gif') no-repeat scroll 50% 50%;}
.payment-NganLuong{background: url('img/imgPayment/NganLuong.png') no-repeat scroll 50% 50%;}
.payment-Payoo{background: url('img/imgPayment/Payoo.png') no-repeat scroll 50% 50%;}
.payment-Amazon{background: url('img/imgPayment/Amazon.png') no-repeat scroll 50% 50%;}



.payment-method-name{
    float: left;
}

.payment-method-price{
    float: right;
}

.description-payment-method{
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    left: -310px;
    padding: 5px;
    position: absolute;
    z-index: 10000; 
    background: -moz-linear-gradient(top,  #FFFFFF,  #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	background: -o-linear-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EFEFEF'); /* IE6 & IE7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#EFEFEF');
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.6);
    box-shadow: 2px 2px 4px #A9A9A9;   
}

.description-payment-method-icon{
	background: url("img/icon/exclamation.png") no-repeat scroll 50% 50% transparent;
	height: 32px;
	width: 32px;
	float: left;
}

.description-payment-method-content{
	font-size: 11px !important;
	float: left;	
	width: 250px;
	margin-left: 10px;
}

.description-payment-method-arrow{
	background: url("img/icon/arrowR.png") no-repeat scroll 50% 50% transparent;
    float: right;
    height: 50px;
    left: 271px;
    position: absolute;
    top: -12px;
    width: 50px;	
}

.payment-form-footer{
	height: 30px;
	line-height: 30px;
    border-top :1px solid #ccc;
}

/*Error message*/

.errorMessage-login-button{
	float: left;
	margin: 15px 3px;
	padding: 0 5px;
	width: 30%;
	font-size: 13px;
	background: -moz-linear-gradient(top,  #FFFFFF,  #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	background: -o-linear-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EFEFEF'); /* IE6 & IE7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#EFEFEF')";	
}

.errorMessage-forgot-button{
	float: left;
	margin: 15px 3px;
	padding: 0 5px;
	width: 30%;
	font-size: 13px;
	background: -moz-linear-gradient(top,  #FFFFFF,  #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	background: -o-linear-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EFEFEF'); /* IE6 & IE7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#EFEFEF')";	
}

.errorMessage-use-button{
	float: left;
	margin: 15px 3px;
	padding: 0 5px;	
	width: 30%;
	font-size: 13px;
	background: -moz-linear-gradient(top,  #FFFFFF,  #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	background: -o-linear-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EFEFEF'); /* IE6 & IE7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#EFEFEF')";
}

.errorMessage-container{
	//border-top: 1px solid red;	
	overflow: hidden;
    width: 313px;
    margin-bottom: 15px;
	margin-top: -5px;
    margin-left: 103px;	
	font-size: 11px;
    padding: 0 2px;
}

.errorMessage-content{
	margin: 5px 10px;
	font-size: 13px;

}

.errorMessage-content a{
	font-weight: bold;
}

.errorMessage-label{
	float: left;
	color: #990000;
	margin-left: 2px;
	padding-left: 25px;
	width: 23%;
	background: url('img/icon/error.png') no-repeat scroll center left;
}

.errorMessage-text{
	float:left;
	width: 100%;	
}

.errorMessage{
	float:right;
	margin: 10px 30px 10px 0;
	padding: 0 15px;
}

.shop-hidden-input-form input{
	visibility: hidden;
	float: left;
	width: 2px;
}

/*Add new address popup*/
/*End payment popup*/
/*Css for Run dropdown */
.amountDiv{
	width:60px !important;
	border:solid 1px #CCCCCC;
	position: relative;
}
.amount-select-discount{
	position: absolute;
	width:110px !important;
	border:solid 1px #888888;
	background-color: white;
	margin-top: 28px;
	height: auto !important;
	z-index: 2000;
}
.drop-run-hide{
    float: left !important;
	padding: 3px !important;
    width:93% !important;
    background-image:none !important;
    clear: left;
    text-align: left !important;
    height:auto !important;
    
}
.drop-run-hide:hover{
	cursor: pointer;
	background-color: #4169E1 !important;
	color: white !important;
}
.amountDiv input{
    border: medium none !important;
    float: left;
    font-size: 13px !important;
    height: 21px !important;
    margin-top: 2px !important;
    padding: 0 0 0 2px !important;
    width: 60% !important;
}
.shopcart-empty-test{
	width: 97.7%;
	height:60px;
	border:solid 1px #CCCCCC;
	margin-bottom: 5px;
	padding: 5px 5px 5px 10px;
    background: -moz-linear-gradient(top,  #FFFFFF,  #EFEFEF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	background: -o-linear-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EFEFEF));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EFEFEF'); /* IE6 & IE7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#EFEFEF');
}
.shopcart-empty-test span{
	float: left;
    font-size: 16px;
    height: 60px;
    line-height: 70px;
    margin-left: 3px;
}
.cart-empty-icon{
	height:60px;
	width:60px;
	background: url('img/icon/cart-empty.png') no-repeat scroll center left;
	float:left;
}
.textarea-input{
	border:none;
	height:120px;
	outline: medium none !important;
}
