.dgo-user-dialog-overlay{
	background: gray;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: fixed !important;
	z-index: 1200;
	top: 0;
	left: 0;
}

.dgo-user-dialog{
	border: 1px solid #888888;
	width: 600px;
	height: auto;
	background: #EEEEEE;
	position: fixed;
	z-index: 1201;
	font-family: tahoma;
	font-size: 14px;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 6px 6px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.dgo-user-title{	
	height: auto
	position: relative;
	background: -moz-linear-gradient(top,  #ababac,  #939393);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ababac), to(#939393));
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-bottom: 1px solid #777;
}

.dgo-user-title-text{
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #333333;	
	text-shadow: 0.071em 0 0.05em white;
}

.dgo-user-title-icon{
	width: 28px;
	height: 28px;
	position: absolute;
	top: 1px;
	right: 2px;
	background: url('img/icon/user_exit.png') no-repeat scroll 50% 50%;	
	z-index: 2;
	cursor: pointer;
}

.dgo-user-content{
	height: 130px;
	border-top: 1px solid white;
}

.dgo-user-content-left{
	width: 120px;
	height: 130px;
	float: left;
}

.dgo-user-icon{
	height: 130px;
	background: url('img/icon/user_infomation.png') no-repeat scroll 50% 50% #EEEEEE;	
}

.dgo-user-loading{
	height: 130px;
	background: url('img/icon/user_loading.gif') no-repeat scroll 50% 50% #EEEEEE !important;
}

.dgo-user-process{
	height: 130px;
	background: url('img/icon/loading_process.gif') no-repeat scroll 50% 50% #EEEEEE !important;
}
.dgo-user-warning{
	height: 130px;
	background: url('img/icon/warning.png') no-repeat scroll 50% 50% #EEEEEE !important;
}

.dgo-user-content-right{
	float: right;
	height: 130px;
	width: 480px
}

.dgo-user-content-left-content{
	height: 80px;
	background: #EEEEEE;
	border-bottom: 1px solid #CDCDCD;
	line-height: 80px;
	color: #888;
	width: 473px;
	float: right;
}

.dgo-user-content-left-footer{
	clear: both;
	height: 48px;
	background: -moz-linear-gradient(top,  #dedfdf,  #d4d4d4);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dedfdf), to(#d4d4d4));
	border-top: 1px solid white;
	-moz-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
	-webkit-border-top-left-radius: 5px;
}

#dgo-user-button{
	float: right;
	border: 1px solid #CCCCCC;
	background: #EFEFEF;
	height: 30px;
	line-height: 30px;
	margin-top: 7.5px;
	margin-right: 7.5px;
	padding: 0px 40px;
	color: #232323;	
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}